<ProgressBar @progress={{@frage.progress}}/>
<article class="c-question">
    <h1>{{@frage.question}}</h1>
    {{this.body}}
</article>
<div class ="buttons">
  {{this.additionalinfo}}
  {{#each @frage.options as |option|}}
    <LinkTo @route="step" @model={{option.target}} class="c-button" > {{option.text}} </LinkTo>
  {{/each}}
</div>
