{{ember-progress-bar setProgress=@frage.progress options=(hash color="#00d3db")}}
{{ember-progress-bar setProgress=1 options=(hash color="#aaaaaa")}}
<article class="c-question">
    <h1>{{@frage.question}}</h1>
    {{@frage.body}}
</article>
<div class ="buttons">

{{#if (eq @frage.id 9)}}
  <img src="corona_ambulanz.png" width="100%"/>
{{/if}}

  {{#if (eq @frage.id 10)}}
    <img src="teleclinic.png" width="100%"/>
  {{/if}}

  {{#if (eq @frage.id 11)}}
    <img src="links_allgemeine_infos.png" width="100%"/>
  {{/if}}

  {{#if (eq @frage.id 4)}}
    <p>(vgl. RKI-Karte nach <a href="https://experience.arcgis.com/experience/478220a4c454480e823b17327b2bf1d4/page/page_1/">Landkreisen</a>)</p>
  {{/if}}

  {{#each @frage.options as |option|}}

    <LinkTo @route="fragen" @model={{option.target}} class="c-button" > {{option.text}} </LinkTo>

  {{/each}}

</div>
