{{ember-progress-bar setProgress=@frage.progress options=(hash color="#00d3db")}}
{{ember-progress-bar setProgress=1 options=(hash color="#aaaaaa")}}
<article class="c-question">
    <h1>{{@frage.question}}</h1>
    {{this.body}}
</article>
<div class ="buttons">

{{#if (eq @frage.id 9)}}
  <img src="corona_ambulanz.png" width="100%"/>
{{/if}}

  {{#if (eq @frage.id 10)}}
    <img src="teleclinic.png" alt="" width="100%"/>
  {{/if}}

  {{#if (eq @frage.id 11)}}
    <h3>Unspezifische Symptome</h3>
    <img src="links_allgemeine_infos.png" width="100%"/>
  {{/if}}

  {{#each @frage.options as |option|}}

    <LinkTo @route="fragen" @model={{option.target}} class="c-button" > {{option.text}} </LinkTo>

  {{/each}}

</div>
